{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage",
        "corejs":"3",
        "targets": {
          "node": "10.15"
        }
      }
    ]
  ],
  "plugins": [],
  "compact": true,
  "comments": false,
}
